<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Project Koelkast</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    @Html.ActionLink("Koelkast", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarSupportedContent">
        @*Left*@
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
            <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
            <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>

            <li class="nav-item">@Html.ActionLink("Recipes", "Recipes", "Recipes", null, new { @class = "nav-link" })</li>
            <li class="nav-item">@Html.ActionLink("Products", "Index", "Products", null, new { @class = "nav-link" })</li>
            <li class="nav-item">@Html.ActionLink("Categories", "Index", "Categories", null, new { @class = "nav-link" })</li>
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">@Html.ActionLink("Add_Recipes", "Add_Recipes", "Recipes", null, new { @class = "nav-link" })</li>
            }


        </ul>
        <ul class="navbar-nav mr-auto">
            @*Right*@
            <a href='@Url.Action("Display_Products", "winkelmand")'><img src="/images/Winkelwagen.png" width="40px" /></a>

            <li class="nav-item">@Html.Partial("_LoginPartial", new { @class = "nav-link" } )</li>
        </ul>
    </div>
    </nav>
    <div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
